.inputField {
  width: 100%;
}

#menu-category_id {
  z-index: 10000; /*to fix dropdown select options appearing below dialog box*/
}

.inputContainer {
  margin-bottom: 15px;
}

.buttonsContainer {
  display: flex;
  justify-content: end;
}
