:root {
  --blue: #112355;
  --black: #050505;
  --gray: #F5F5F5;
}

body {
  margin:0;
  font-family: 'CeraProMedium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'CeraProMedium';
  src: local('CeraProMedium'), url(./assets/fonts/CeraProMedium.otf) format('opentype');
}

@font-face {
  font-family: 'CeraProBold';
  src: local('CeraProBold'), url(./assets/fonts/CeraProBold.otf) format('opentype');
}

@font-face {
  font-family: 'CeraProLight';
  src: local('CeraProLight'), url(./assets/fonts/CeraProLight.otf) format('opentype');
}

@font-face {
  font-family: 'CeraProBlack';
  src: local('CeraProBlack'), url(./assets/fonts/CeraProBlack.otf) format('opentype');
}

h1,h2, p, a {
  color: var(--blue);
}

a {
  text-decoration: none;
}

a:hover {
  color: #445a98;
}